---
// Outline of custom 404.astro page.
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Oops! Page Not Found | Lupus Together</title>
  </head>
  <body>
    <main>
      <h1>404</h1>
      <h2>Page Not Found</h2>

      <a href="/" class="home-link">Go to Homepage</a>
    </main>
  </body>
</html>
