---
import { Image } from "astro:assets";
import holdingHands from "../assets/holding-hands.webp";
---

<section class="hero" id="hero">
  <div class="hero-content">
    <h1>Your Story. Your Strength. A Community That Understands</h1>
    <p>
      Join a safe space where people with Lupus connect, share stories, and
      thrive together.
    </p>
    <div>
      <a href="#join" class="site-btn"> Join Our Community! </a>
    </div>
  </div>

  <div class="hero-image">
    <Image
      src={holdingHands}
      alt="People holding hands, symbolizing community and empathy for people with Lupus"
      loading="lazy"
      format="avif"
    />
  </div>
</section>
