---
import { Image } from "astro:assets";
import holdingHands from "../assets/holding-hands.avif";
import Button from "../components/navigation/Button";
---

<section class="hero" id="hero">
  <div class="hero-content">
    <h1>Your Story. Your Strength. A Community That Understands</h1>
    <p>
      Join a safe space where people with Lupus connect, share stories, and
      thrive together.
    </p>
    <Button
      className="site-btn"
      title=" Join Our Community! "
      to="join"
      href="#join"
      duration={900}
      ariaLabel="Scroll to Join Lupus Together section"
      client:load
    />
  </div>

  <div class="hero-image">
    <Image
      src={holdingHands}
      alt="People holding hands, symbolizing community and empathy for people with Lupus"
      loading="eager"
      quality={60}
    />
  </div>
</section>
