---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
// import "@fontsource/quicksand";
import "@fontsource/quicksand/300.css";
import "@fontsource/quicksand/400.css";
import "@fontsource/quicksand/500.css";
import "@fontsource/quicksand/600.css";
import "@fontsource/quicksand/700.css";
import "@fontsource/playfair-display/400.css";
import "@fontsource/playfair-display/500.css";
import "@fontsource/playfair-display/600.css";
import "@fontsource/playfair-display/700.css";
import "@fontsource/playfair-display/800.css";
import "@fontsource/playfair-display/900.css";
import "../styles/global.css";

// Props let you inject values from any page
const { title } = Astro.props;
---

<!doctype html>
<!-- Base layout for the Astro site -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Brand FavIcon: Cross Browser Compatible -->
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <!-- Google Fonts: Quicksand + Playfair -->
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&display=swap"
      rel="stylesheet"
    /> -->
    <title>{title}</title>
  </head>
  <body>
    <!-- Header + Nav -->
    <header>
      <Navbar />
    </header>
    <main>
      <slot />
    </main>
    <!-- Footer -->
    <Footer />
  </body>
</html>
